# ---------------------------------------------------------------------------
# Developer-specific properties
#
# Modify this file to taste and save as user.properties
#
# $Id$
# ---------------------------------------------------------------------------


# ----- Restrict to test cases matching this pattern -----
#testcase = PriorityQueue


# ----- Show build warnings (-warnunchecked) -----
#build.warnings = true


# ----- Use non-native emulation classes -----
#build.emulation = true
