# ---------------------------------------------------------------------------
# Developer-specific properties
#
# Modify this file to taste and save as user.properties
#
# $Id$
# ---------------------------------------------------------------------------


# ----- Turn on -warnunchecked? (default false) -----
build.warnunchecked = false


# ----- Skip java.lang.Thread* classes? (default false) -----
build.nothreads = false


# ----- Restrict to test cases matching this pattern (omit trailing "Test") -----
#testcase = PriorityQueue
